/* Start Varibles  */
:root {
    --white-color: #FFFFFF;
    --black-color: #212429;
    --dark-color: #000000;
    --second-dark-color: #77777761;
    --main-color: #FF4400;
    --grey-color: #d0d1d1;
    --landing-color: #eff8ff;
    --section-color: #f0f8ff;
    --line-color: rgba(119, 119, 119, 0.466);
    --line-height: 1.5;
    --p-color: #717275;
    --transparent-color: #777;
    --second-transprent-color: #d0d1d1;
    --transiton: 0.3s;
    --padding-top: 100px;
    --section-padding: 60px;
    --h-weight: 900;
}
/* End Varibles  */
/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screens  */
@media (min-width:576px) {
    .container {
        width: 550px;
    }
}
@media (min-width:768px) {
    .container {
        width: 700px;
    }
}
/* mediam Screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large Screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Components  */
.special-heading {
    font-size: 2.8em;
    font-weight: var(--h-weight);
    text-align: center;
}
.special-one {
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--p-color);
    transition: var(--transiton);
}
.special-one:hover {
    color: var(--main-color);
}
.special-one i{
    font-size: 0.9em;
    margin-left: 2px;
    opacity: 0;
    transition: var(--transiton);
}
.special-one:hover i {
    opacity: 1;
    margin-left: 6px;
}
/* End Components  */
/* End Global Rules  */
/* Start Form  */
.form .container .form-content h2 { 
    font-size: 4em;
    font-weight: var(--h-weight);
    text-align: center;
    color: var(--black-color);
}
.form .container .form-content {
    width: 480px;
    max-width: 100%;
    margin: 120px auto;
}
.form .container .form-content form {
    display: flex;
    flex-direction: column;
    padding-top: calc( var(--section-padding) - 20px);
}
.form .container .form-content form input {
    margin: 12px 0;
    padding: 18px 25px 18px 10px;
    border: 1px solid var(--second-dark-color);
    border-radius: 5px;
    outline: none;
    transition: var(--transiton);
}
.form .container .form-content form input:focus {
    outline: 4px solid #03a9f44a;
}
.form .container .form-content form input {
    position: relative;
}
.form .container .form-content form input::placeholder {
    color: var(--second-dark-color);
    transition: var(--transiton);
}
.form .container .form-content form input:focus::placeholder {
    font-size: 0.9em;
    position: absolute;
    top: 2px;
}
@media (max-width:500px) {
    .form .container .form-content form input {
        margin: 7px 0;
        border-radius: 7px;
        padding: 14px 25px 14px 10px;
    }
}
.form .container .form-content form > a {
    display: block;
    padding: 20px;
    margin-top: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    background-color: black;
    border-radius: 50px;
    transition: var(--transiton);
}
.form .container .form-content form > a:hover {
    background-color: var(--main-color);
}
.form .container .form-content form span {
    display: block;
    margin-top: 22px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    color: var(--transparent-color);
    transition: var(--transiton);
}
@media (max-width:500px) {
    .form .container .form-content form span {
        font-size: 1em;
    }
}
.form .container .form-content form span a {
    color: var(--transparent-color);
}
.form .container .form-content form span a:hover {
    color: var(--main-color);
    cursor: pointer;
}
/* End Form  */
/* Start Footer  */
.footer {
    padding-top: var(--padding-top);
    margin-top: 100px;
    background-color: black;
}
.footer .container .footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer .container .footer-content .one {
    width: 340px;
}
.footer .container .footer-content .one div {
    font-size: 2.3em;
    color: var(--white-color);
    letter-spacing: -1px;
    font-weight: bold;
}
.footer .container .footer-content .one div span {
    color: var(--p-color);
}
.footer .container .footer-content .one p {
    margin: 50px 0 30px;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--p-color);
}
.footer .container .footer-content .one p span {
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--p-color);
}
.footer .container .footer-content .one > span {
    font-size: 1.1em;
    font-weight: 300;
    color: var(--p-color);
}
@media (max-width:767px) {
    .footer .container .footer-content .one {
        margin-bottom: 40px;
    }
    .footer .container .footer-content .one div {
        font-size: 2em;
    }
    .footer .container .footer-content .one p {
        margin: 30px 0;
        font-size: 1em;
    }
    .footer .container .footer-content .one > span {
        font-size: 1em;
    }
}
@media (max-width:500px) {
    .footer .container .footer-content .one div {
        font-size: 1.6em;
    }
    .footer .container .footer-content .one p {
        margin: 20px 0 25px;
        font-size: 1em;
    }
}
.footer .container .footer-content .two {
    width: 340px;
}
.footer .container .footer-content .two div {
    font-size: 1.6em;
    color: var(--white-color);
    margin-bottom: 20px;
}
.footer .container .footer-content .two .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer .container .footer-content .two .links li {
    width: 50%;
}
.footer .container .footer-content .two .links li a {
    display: block;
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 300;
    color: var(--p-color);
    transition: var(--transiton);
}
@media (max-width:767px) {
    .footer .container .footer-content .two div {
        font-size: 1.2em;
    }
}
.footer .container .footer-content .two .links li a:hover {
    color: var(--white-color);
}
.footer .container .footer-content .three  {
    text-align: center;
}
@media (max-width:991px) {
    .footer .container .footer-content .three {
        margin-top: 40px;
    }
}
.footer .container .footer-content .three div {
    font-size: 1.6em;
    margin-bottom: 30px;
    color: var(--white-color);
}
@media (max-width:767px) {
    .footer .container .footer-content .three div {
        font-size: 1.2em;
    }
}
.footer .container .footer-content .three .social a {
    margin: 0 10px;
}
.footer .container .footer-content .three .social a i {
    font-size: 1.3em;
    color: var(--p-color);
    transition: var(--transiton);
}
.footer .container .footer-content .three .social a i:hover {
    color: var(--white-color);
}
.footer .develop {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
    padding: 25px 0;
    color: var(--white-color);
    border-top: 1px solid var(--line-color);
}
.footer .develop span {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--main-color);
}
@media (max-width:767px) {
    .footer .develop {
        font-size: 1em;
    }
}
/* End Footer  */